.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-bottom: solid #d9d9d9;
}

.navbar-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 600;
}

/* Section Title  */
.section-title {
  font-size: 1.25rem;
  color: #0e0e0e;
  font-weight: 600;
}

.product-card {
  border-radius: 30px !important;
  max-width: 400px;
  height: 100%;
  min-height: 460px;
}

.product-image {
  object-fit: contain;
  padding: 15px;
  height: 180px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-card-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  min-height: 110px;
  padding: 15px 20px;
  text-align: center;
}

.product-card-title {
  font-size: 1.15rem !important;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #0e0e0e;
}

.product-price {
  color: #0e42fd;
  font-size: 1.5rem;
}

.product-description {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
